body{
    background: gray;
    margin: 0px;
}

header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0px;
}
div.post{
    background-color: white;
    margin-top: 10px;
}
div.post img{
    width: 100%;
    border-color: aquamarine;
}
div.post .postHeader div:first-child{
    display: inline-block;
    width: 80%;
    background-color: red;
}
div.post .postHeader div:last-child{
    display: inline-block;
    width: 16%;
    background-color: yellow;
    padding: 10px;
    text-align: left;
    color: gray;
}
div.post h2, div.post p{
    padding: 10px;
}
div.container{
    width: 600px;
    margin: auto;
}